section.landing {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}

img.pic {
    width: 402px;
    height: 462px;
    transition: width .5s ease, height .5s ease;
}

img.pic:hover {
    width: 603px;
    height: 688px;
}

.animateLanding {
    animation-duration: 2s;
    animation-name: animate-landing;
}
  
@keyframes animate-landing {
    0%   { 
      opacity: 0;
      transform : translateY(5rem)
    }
    100% { 
      opacity: 1;
      transform : translateY(0rem)
    }
}