html,
body {
  padding: 0;
  margin: 0;
  background: #ddd6c7;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #3c6454;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #57371e;
}